.Paragraph-size {
    font-size: 14px;
}

.User-Img {
    height: 4em;
}
@media only screen and (max-width: 600px) {
    .Paragraph-size{
        font-size: 1.2em;
    }
    .User-Img{
        height: 4.5em;
    }
}